:root {
    --background-color: #FEFAE0;
    --primary-color: #d5a369;
    --text-color: #FEFAE0;
    --text-contrast-color: black;
    --secondary-text-color: rgb(70, 70, 70);
    --third-text-color: #ddd;
    --secondary-color: #BC6C25;
    --subtitle-color: #6b3a0f;
    --container-color: #935927;
    --secondary-background-color: #1b0f04;
    --bold-color: #5f320a;
    --black-text-color: #333;
    --dark-color: black;
}

body {
    font-family: 'Raleway', serif;
    background-color: var(--background-color);
    margin: 0;
}

a {
    color: var(--contrast-text-color);
    text-decoration: none; 
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.bold {
    font-weight: 600;
    color: var(--bold-color);
}

.active {
    text-decoration: dashed;
}
a {
  position: relative;
  text-decoration: none;
  color: black;
  
}

a.menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

a.menu:hover:not(.active)::after {
  width: 102%;
}

.button {
    color: #fff;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: 'Raleway', serif;
    border: 0;
}

.primary-button {
    background-color: var(--bold-color);
    cursor: pointer;
}

.primary-button:hover {
    background-color: var(--secondary-color);
}

html, body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.secondary-button {
    background-color: transparent;
    color: var(--text-contrast-color);
    border: 1px solid var(--text-contrast-color) !important;
}

a.invisible-link {
  all: unset;
  display: contents;
}