---
import BaseLayout from "../../layouts/BaseLayout.astro"
---
<BaseLayout title={'404 Error - Héctor Pascual Marín | FullStack Developer'}>
  <div style={{ marginTop: "50px", paddingBottom: "50px", textAlign: "center"}}>
      <h1>404 - Page not found</h1>
      <p>Sorry, the page you are looking for does not exist.</p>
      <a href="/en" title="Return to home" class="primary-button button">Return to home</a>
      </div>
</BaseLayout>