<header>
    <div class="header-logo" aria-label="Marca principal">
        <h1 class="header-title"><a title="Inicio: Héctor Pascual Marín - FullStack Developer" href="#inicio">Héctor Pascual Marín</a></h1>
        <h2 class="header-subtitle">FullStack Developer</h2>
    </div>

    <nav class="header-navigation" aria-label="Menú principal">
        <ul>
            <li><a href="#inicio" title="Inicio">Inicio</a></li>
            <li><a href="#resumen" title="Ver resumen">Resumen</a></li>
            <li><a href="#lenguajes" title="Lenguajes conocidos">Lenguajes</a></li>
            <li><a href="#proyectos" title="Proyectos creados">Proyectos</a></li>
            <li><a href="#experiencia" title="Experiencia Profesional">Experiencia</a></li>
            <li><a href="#contacto" title="Contactar">Contacto</a></li>
            <li><a href="/blog" title="Blog personal">Blog</a></li>
        </ul>
    </nav>
</header>