---
interface ILanguage {
    ID: string,
    Name: string,
    URL: string,
    ImageURL: string
}

const languages: ILanguage[] = [ 
    { ID: 'react', Name: 'React', URL: 'https://es.react.dev/', ImageURL: 'a' },
    { ID: 'typescript', Name: 'TypeScript', URL: 'https://www.typescriptlang.org/', ImageURL: 'a' },
    { ID: 'c_sharp', Name: 'C#', URL: 'https://dotnet.microsoft.com/es-es/languages/csharp', ImageURL: 'a' },
    { ID: 'python', Name: 'Python', URL: '', ImageURL: ''},
    { ID: 'sql', Name: 'SQL', URL: '', ImageURL: ''},
    { ID: 'mongodb', Name: 'MongoDB', URL: '', ImageURL: ''},
    { ID: 'docker', Name: 'Docker', URL: '', ImageURL: ''},
    { ID: 'git', Name: 'Git', URL: '', ImageURL: ''},
    { ID: 'sql', Name: 'SQL', URL: '', ImageURL: ''},
    { ID: 'css', Name: 'CSS', URL: '', ImageURL: ''},
    { ID: 'html', Name: 'HTML', URL: '', ImageURL: ''},
    { ID: 'sass', Name: 'SASS', URL: '', ImageURL: ''}
]

---
<section id="lenguajes" class="languages">
    <h2>Conocimientos</h2>
</section>