---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title={'404 Error - Héctor Pascual Marín | FullStack Developer'}>
      <h1>404 - Página no encontrada</h1>
  <p>Lo siento, la página que buscas no existe.</p>
  <a href="/">Volver al inicio</a>
</BaseLayout>