---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title={'404 Error - Héctor Pascual Marín | FullStack Developer'}>
  <div style={{ marginTop: "50px", paddingBottom: "50px", textAlign: "center"}}>
      <h1>404 - Página no encontrada</h1>
      <p>Lo siento, la página que buscas no existe.</p>
      <a href="/" title="Volver a inicio" class="primary-button button">Volver al inicio</a>
      </div>
</BaseLayout>