---
import { Image } from 'astro:assets'
import HectorStandWhiteShirt from '../assets/content/hector-stand-white-shirt.png'
---

<section id="contacto">
    <div class="contact">
    <h2>¡Contáctame!</h2>
    <form action="" class="contact-form">
        <div class="name label">
            <input id="name" type="text" placeholder=" ">
            <label for="name">Nombre/Empresa</label>
        </div>
        <div class="email label">
            <input id="email" type="email" placeholder=" ">
            <label for="email">Email</label>
        </div>
        <div class="subject label">
            <input id="subject" type="text" placeholder=" ">
            <label for="subject">Asunto</label>
        </div>
        <div class="content label">
            <input id="content" class="content-input" type="text" placeholder=" ">
            <label for="content">Contenido</label>
        </div>
        <div class="buttons">
        <input type="submit" value="Enviar" class="submit-button button primary-button">
        <input type="button" value="Borrar" class="secondary-button button">
        </div>
    </form>
    </div>
    <Image src={HectorStandWhiteShirt} class="contact-image" alt="Héctor de pie con una sudadera blanca" />
</section>