---
import CurriculumPDF from '../assets/content/Curriculum.pdf'
---
<section id="curriculum" class="curriculum-container" aria-label="">
         <iframe
      src={CurriculumPDF}
      width="100%"
      class="pdf-frame"
      title="Currículum PDF"
    ></iframe>
    </section>