---
import { Image } from 'astro:assets'
import KeywordPicture from '../assets/content/keyword-picture.jpg'
---
<section id="" class="" aria-label="">
<div class="hero-container">
  <Image
    src={KeywordPicture}
    alt="Imagen de un teclado programador de cerca"
    class="background-image"
    loading="lazy"
  />
  <div class="hero-text left">
    <h1>Potencia tu desarrollo</h1>
    <p>
      Descubre herramientas modernas, entornos eficientes y los mejores
      recursos para desarrolladores web. Aprende, crea y lleva tus ideas al
      siguiente nivel con nuestras guías y tutoriales detallados.
    </p>
  </div>
</div>
<div class="hero-container">
  <Image
    src={KeywordPicture}
    alt="Imagen de un teclado programador de cerca"
    class="background-image"
    loading="lazy"
  />
  <div class="hero-text right">
    <h1>Automatiza tu flujo de trabajo</h1>
    <p>
      Utiliza tecnologías que optimicen tu día a día como programador. Desde
      editores inteligentes hasta herramientas de CI/CD, aquí encontrarás lo que
      necesitas para mejorar tu productividad.
    </p>
  </div>
</div>
<div class="hero-container">
  <Image
    src={KeywordPicture}
    alt="Imagen de un teclado programador de cerca"
    class="background-image"
    loading="lazy"
  />
  <div class="hero-text center">
    <h1>Aprende sin límites</h1>
    <p>
      Explora contenido actualizado constantemente sobre desarrollo frontend,
      backend, DevOps y más. Todo en un solo lugar para que nunca dejes de
      aprender.
    </p>
  </div>
</div>

</section>