---
import { Image } from 'astro:assets'
import KeywordPicture from '../assets/content/keyword-picture.jpg'
---
<section id="ventajas-desarrollo" aria-label="Ventajas de contratar en Alicante a un FullStack Developer profesional">
<div class="hero-container">
  <Image
    format="webp"
    src={KeywordPicture}
    alt="Teclado retroiluminado de desarrollador trabajando en una app web"
    class="background-image"
    loading="eager"
  />
  <div class="hero-text left">
    <h2>Arquitectura limpia, resultados sólidos</h2>
    <h3>Desarrollos robustos, eficientes y fáciles de mantener</h3>
    <p>
        Priorizo la calidad, el rendimiento y la escalabilidad desde la base.  
        <br />
        Aplico principios de <span class="bold">Clean Architecture</span> y <span class="bold">Código Limpio</span> para que cada línea de código tenga propósito y facilite la evolución del software.
        <br />
        ¿Buscas un sistema moderno, estable y sin dependencias frágiles?  
        <br />
        Este es el momento de construirlo bien.
      </p>
        <div id="action-buttons">
    <a href="#contacto" title="Solicita tu proyecto" class="hero-button primary-button button">Solicita tu proyecto</a>
  </div>
  </div>
</div>
</section>