---
import { Image } from 'astro:assets'
import KeywordPicture from '../assets/content/keyword-picture.jpg'
---
<section id="ventajas-desarrollo" aria-label="Ventajas de contratar en Alicante a un FullStack Developer profesional">
<div class="hero-container">
  <Image
    src={KeywordPicture}
    alt="Teclado retroiluminado de desarrollador trabajando en una app web"
    class="background-image"
    loading="lazy"
  />
  <div class="hero-text left">
    <h2>Arquitectura limpia, resultados sólidos</h2>
    <p>
        Enfoque en calidad, rendimiento y escalabilidad. 
        <br /> Aplico principios de <span class="bold">Clean Architecture</span> y <span class="bold">Código Limpio</span>, para que cada línea de tu proyecto sume y sea fácil de mantener.
        <br />¿Necesitas un software robusto, moderno y sin dependencias frágiles? 
        <br />Has encontrado a la persona correcta.
    </p>
  </div>
</div>
</section>