<header>
    <div class="header-logo" aria-label="Marca principal">
        <h1 class="header-title"><a title="Inicio: Héctor Pascual Marín - FullStack Developer" href="#inicio">Héctor Pascual Marín</a></h1>
        <h2 class="header-subtitle">FullStack Developer</h2>
    </div>
    <nav class="header-navigation" aria-label="Menú principal">
        <ul>
            <li><a href="/#inicio" class="menu" title="Inicio">Inicio</a></li>
            <li><a href="/#resumen" class="menu" title="Ver resumen">Resumen</a></li>
            <li><a href="/#proyectos" class="menu" title="Proyectos creados">Proyectos</a></li>
            <li><a href="/#contacto" class="menu" title="Contactar">Contacto</a></li>
            <li><a href="/blog" class="menu" title="Blog personal">Blog</a></li>
            <!-- Añadir switch languages -->
        </ul>
    </nav>
</header>
<!-- Revisar SEO de toda la web -->
<!-- Hacer web responsive -->