---
import { Image } from 'astro:assets'
import HectorSuitPicture from '../assets/content/hector-suit-picture.webp'
---
<section id='inicio' class="hero" aria-label="¿Buscas un FullStack Developer? Contáctame">
    <div class="hero-content">
        <h2 class="hero-title">¿Buscas un FullStack Developer?</h2>
        <p class="hero-description">Soy Héctor Pascual, <span class="bold">FullStack Developer</span> en Alicante especializado en la creación de páginas web de calidad. Cuento con experiencia en tecnologías como <span class="bold">React</span> y <span class="bold">TypeScript</span> en el Frontend y <span class="bold">C#</span> en el Backend.</p>
        <div id="action-buttons">
        <a href="#contacto" title="Contáctame" class="hero-button primary-button button">Contáctame</a>
        <a href="/curriculum" title="Ver Currículum" class="secondary-button button">Ver Curriculum</a>
        </div>
    </div>
        <Image src={HectorSuitPicture}
        class="hero-image"
        format="webp"
        loading="eager"
        alt="Héctor Pascual Marín en traje posando" />
</section>