  <section class="linkedin-container">
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7326668041390329858?collapsed=1" height="655px" width="100%" frameborder="0" allowfullscreen title="Publicación integrada"></iframe>
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7272332732087623681?collapsed=1" height="590px" width="100%" frameborder="0" allowfullscreen title="Publicación integrada"></iframe>
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7257780957158526977?collapsed=1" height="530px" width="100%" frameborder="0" allowfullscreen title="Publicación integrada"></iframe>
  </section>