---
import { Image } from 'astro:assets'
import HectorDarkImage from '../assets/content/hector-dark-shirt.png'
import CapturaWebCerveza from '../assets/projects/cervezas-marin/cervezas-marin-home.png'
import { FeaturedProjectsList } from '../data';
---

<!-- Quitar imagen o cambiarla -->
<section id="proyectos" class="projects" aria-label="Projectos personales destacados">
    <!-- <Image src={HectorDarkImage} loading="lazy" width="600" alt="Persona de pie en sudadera negra con fondo oscuro" /> -->
    <div class="projects-items">
        <h2 class="projects-title">Proyectos Destacados</h2>
        <div class="projects-preview">
            {
                FeaturedProjectsList.map(project => (
            <Image 
              src={project.CoverImage.Image} 
              alt={project.CoverImage.Alt} 
              class="project-image"
              loading="lazy"
            />
            <span class="project-name">{project.Name}</span>
        ))
            }
        </div>
        <button class="button primary-button">Ver más</button>
    </div>
</section>