---
import { Image } from 'astro:assets'
import PapersImage from '../assets/content/papers-image.jpg'
---
<section id="feature-ia" aria-label="Automatización e Inteligencia Artificial con Héctor Pascual">
<div class="hero-container">
  <Image
    src={PapersImage}
    format="webp"
    alt="Documentación de IA y bocetos de procesos automatizados"
    class="background-image background-image-secondary"
    loading="lazy"
  />
  <div class="hero-text center">
    <h2>Inteligencia Artificial para tu negocio</h2>
    <h3>Convierte procesos manuales en sistemas inteligentes</h3>
     <p>
        Creo <span class="bold">automatizaciones a medida</span> e <span class="bold">Inteligencia Artificial aplicada</span> para ayudar a optimizar tu operativa diaria.
        <br/>
        Reduce costes, ahorra tiempo y toma decisiones más efectivas. 
        <br/>
        Haz que tu software trabaje para ti.
      </p>
    <div id="action-buttons">
    <a href="#contacto" title="Automatiza tu negocio" class="hero-button primary-button button">Automatiza tu negocio</a>
  </div>
</div>

</section>