---
import CurriculumPDF from '../../assets/content/English CV_Hector_Pascual_FullStack.pdf'
---
<section id="curriculum" class="curriculum-container" aria-label="Programmer Héctor Pascual's Curriculum">
         <iframe
      src={CurriculumPDF}
      width="100%"
      class="pdf-frame"
      title="Currículum PDF"
    ></iframe>
    </section>