---
import { Image } from 'astro:assets'
import KeywordPicture from '../../assets/content/keyword-picture.jpg'
---
<section id="ventajas-desarrollo" aria-label="Advantages of hiring a professional FullStack Developer in Alicante">
<div class="hero-container">
  <Image
    src={KeywordPicture}
    format="webp"
    alt="Backlit keyboard of a developer working on a web app"
    class="background-image"
    loading="lazy"
  />
  <div class="hero-text left">
    <h2>Clean architecture, solid results</h2>
    <h3>Robust, efficient and easy-to-maintain developments</h3>
    <p>
        I prioritize quality, performance, and scalability from the ground up.  
        <br />
        I apply principles of <span class="bold">Clean Architecture</span> and <span class="bold">Clean Code</span> so that each line of code has a purpose and facilitates the evolution of the software.
        <br />
        Are you looking for a modern, stable system without fragile dependencies?
        <br />
        This is the time to build it right.
      </p>
        <div id="action-buttons">
    <a href="#contacto" title="Request your project" class="hero-button primary-button button">Request your project</a>
  </div>
  </div>
</div>
</section>