---
import SwitchLanguageEn from "./SwitchLanguageEn.astro";
---

<header>
    <div class="header-logo" aria-label="Main brand">
        <h1 class="header-title"><a title="Start: Héctor Pascual Marín - FullStack Developer" href="#inicio">Héctor Pascual Marín</a></h1>
        <h2 class="header-subtitle">FullStack Developer</h2>
    </div>
    <nav class="header-navigation" aria-label="Menú principal">
        <ul>
            <li><a href="/en/#inicio" class="menu" title="Inicio">Home</a></li>
            <li><a href="/en/#resumen" class="menu" title="Ver resumen">Summary</a></li>
            <li><a href="/en/#proyectos" class="menu" title="Proyectos creados">Projects</a></li>
            <li><a href="/en/#contacto" class="menu" title="Contactar">Contact</a></li>
            <li><a href="/en/curriculum" class="menu" title="Curriculum">Resume</a></li>
            <li><SwitchLanguageEn></SwitchLanguageEn></li>
        </ul>
    </nav>
</header>