---
import { Image } from 'astro:assets'
import PapersImage from '../../assets/content/papers-image.jpg'
---
<section id="feature-ia" aria-label="Automation and Artificial Intelligence with Héctor Pascual">
<div class="hero-container">
  <Image
    src={PapersImage}
    alt="AI documentation and automated process sketches"
    class="background-image background-image-secondary"
    loading="lazy"
  />
  <div class="hero-text center">
    <h2>Artificial Intelligence for your business</h2>
    <h3>Convert manual processes into intelligent systems</h3>
     <p>
        Expert in <span class="bold">custom automations</span> and <span class="bold">applied Artificial Intelligence</span> to help optimize your daily operations.
        <br/>
        Reduce costs, save time and make more effective decisions. 
        <br/>
        Make your software work for you.
      </p>
    <div id="action-buttons">
    <a href="#contacto" title="Automate your business" class="hero-button primary-button button">Automate your business</a>
  </div>
</div>
</section>