:root {
    --background-color: #FEFAE0;
    --primary-color: #d5a369;
    --text-color: #FEFAE0;
    --text-contrast-color: black;
    --secondary-text-color: rgb(70, 70, 70);
    --secondary-color: #BC6C25;
    --subtitle-color: #6b3a0f;
    --bold-color: #5f320a;
    --black-text-color: #333;
}

body {
    font-family: 'Raleway', serif;
    background-color: var(--background-color);
    margin: 0;
}

a {
    color: var(--contrast-text-color);
    text-decoration: none; 
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.bold {
    font-weight: 600;
    color: var(--bold-color);
}

.active {
    text-decoration: dashed;
}

a:hover:not(.active) {

}


.button {
    color: #fff;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: 'Raleway', serif;
    border: 0;
}

.primary-button {
    background-color: var(--bold-color);
}

.primary-button:hover {
    background-color: var(--secondary-color);
}